@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* sheared element */
.btn-1 {
  padding: 16px 40px;
  background: rgb(230, 83, 60);
  color: white;
  border-radius: 42px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  margin-right: 5px;
  cursor: pointer;
}
.btn-2 {
  padding: 16px 40px;
  color: white;
  background-color: #262626;
  border-radius: 42px;
  border: 2px solid white;
  font-size: 18px;
  font-weight: 600;
  margin-top: 14px;
  cursor: pointer;
}
.row {
  min-height: 80vh;
  color: white;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

/* HEADER SECTION */

.header {
  min-height: 80vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(17, 17, 17),
    rgba(0, 0, 0, 0.822) 100%
  );
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-size: 2.25rem;
  font-weight: 800;
  color: #f44336;
  padding: 8px 12px;
}
.nav-link {
  padding: 24px;
}
nav .fa-bars {
  display: none;
  color: white;
}

.link-border {
  display: flex;
  border: 1px solid rgba(232, 234, 240, 0.247);
  border-radius: 30px;
  padding: 8px 12px;
}
.nav-link li {
  list-style: none;
  padding: 8px 20px;
}
.nav-link ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.nav-link li:hover {
  background: #f44336;
  transition: 0.5s;
  font-weight: 600;
  border-radius: 46px;
}
.hero-div {
  display: flex;
  gap: 20px;
}
.text-box {
  margin: 2% 6%;
  width: 50%;
}
.text-box h1 {
  color: white;
  font-size: 4.875rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.shape {
  font-family: "Miama", sans-serif;
  font-size: 8px4.875rem;
  font-weight: 900;
}
.text-box p {
  font-size: 1rem;
  line-height: 24px;
  color: gray;
  margin-bottom: 28px;
}
.btn-1 {
  font-size: 1.125rem;
  padding: 16px 40px;
}
.btn-2 {
  font-size: 1.125rem;
  padding: 16px 40px;
}
.header-img-div {
  position: relative;
  padding-left: 30px;
}
.hero-img {
  display: flex;
  background-position: center;
  background-size: cover;
  width: fit-content;
}
.header-span {
  position: absolute;
  top: 150px;
  left: 250px;
  padding: 20px 23px;
  width: max-content;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}
.header-span h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
}
.header-span p {
  font-size: 1rem;
  color: grey;
}
.header-span-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 410px;
  right: 260px;
  padding: 20px 23px;
  width: max-content;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}
.round-div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.header-span-2 h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
}
.header-span-2 p {
  font-size: 1rem;
  color: grey;
}

@media (max-width: 576px) {
  .nav-link {
    display: none;
  }
  nav .fa-bars {
    display: block;
    color: white;
    margin: 10px;
    cursor: pointer;
  }
  .hero-div {
    display: flex;
    flex-wrap: wrap;
  }
  .text-box {
    margin: 2% 6%;
    width: 100%;
  }
  .text-box h1 {
    color: white;
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 28px;
  }
  .shape {
    font-size: 2.25rem;
  }
  .text-box p {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 28px;
  }
  .header-img-div {
    position: relative;
    margin-left: 20px;
    margin: auto;
  }
  .hero-img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  .header-span {
    position: absolute;
    top: 40px;
    left: 220px;
    padding: 20px 23px;
    width: max-content;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
  }
  .header-span h3 {
    color: white;
    font-size: 1.875rem;
    font-weight: 900;
  }
  .header-span p {
    font-size: 0.625rem;
    color: grey;
  }
  .header-span-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 250px;
    right: 160px;
    padding: 20px 23px;
    width: max-content;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
  }
  .header-span-2 h3 {
    color: white;
    font-size: 1.875rem;
    font-weight: 900;
  }
  .header-span-2 p {
    font-size: 0.625rem;
    color: grey;
  }
}
/* HABIT SECTION  */
.habit {
  background: black;
}

.habit h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.habit p {
  font-size: 0.875rem;
  line-height: 24px;
  color: gray;
}
.img-style {
  border-radius: 50%;
  border: 2px solid gray;
  width: fit-content;
}
.img-div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 54px;
  margin-bottom: 100px;
}
.habit-card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
}
.habit-card h3 {
  font-size: 1.125rem;
  font-weight: 600;
}
.habit-card p {
  font-size: 0.875rem;
  line-height: normal;
}
@media (max-width: 576px) {
  .habit h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 14px;
  }
  .habit p {
    font-size: 0.875rem;
    line-height: 24px;
    color: gray;
  }
  .img-div {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 32px;
  }
}
/* RUN SECTION */
.run-div {
  display: flex;
  background: rgb(34, 34, 34);
  color: white;
  width: 80%;
  margin: auto;
  padding: 30px 32px;
  border-radius: 18px;
}

.run-div h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.run-div p {
  font-size: 0.875rem;
  line-height: 24px;
  margin-bottom: 34px;
}
.run-div img {
  width: 40%;
  border-radius: 18px;
}
.run-col {
  padding: 20px;
}

@media (max-width: 576px) {
  .run-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 32px;
  }
  .run-col {
    display: flex;
    flex-direction: column;
  }
  .run-div h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 14px;
  }
  .run-div img {
    width: 100%;
    background-position: center;
    background-size: contain;
    padding: 20px;
    border-radius: 30px;
  }
}
/* CALCULATOR SECTION */

.calculator {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background-color: black;
  color: white;
}
.heading_cal {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.heading_row {
  flex-wrap: wrap;
}
.calculator h1 {
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 14px;
}
.calculator p {
  padding-bottom: 100px;
  font-size: 0.875rem;
  line-height: 24px;
  color: gray;
}
.calculator-div {
  width: 100%;
  background: rgb(34, 34, 34);
  overflow: hidden;
}
.calculator-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 52px;
  width: 80%;
  margin: auto;
  gap: 50px;
}
.table-div {
  display: flex;
  flex-direction: column;
}
.table-div h2 {
  font-size: 1.75rem;
  font-weight: 900;
  padding-bottom: 52px;
}
table {
  border-color: gray;
  font-size: 0.875rem;
  border: 3px solid gray;
  border-collapse: collapse;
  color: gray;
  text-align: left;
}
thead td {
  padding: 15px 18px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
tbody td {
  padding: 15px 18px;
  font-size: 0.875rem;
  font-weight: 400;
}

.form-div {
  display: flex;
  flex-direction: column;
}
.form-div h2 {
  font-size: 1.75rem;
  font-weight: 900;
  padding-bottom: 14px;
}
.form-div p {
  font-size: 0.875rem;
  padding-bottom: 32px;
  color: gray;
  line-height: 24px;
}
.form {
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 34px;
}
.form-row-1 {
  display: flex;
  gap: 12px;
}
.form-row-2 {
  display: flex;
  gap: 12px;
}

.input-5 {
  width: 100%;
  padding: 20px;
  background-color: rgb(54, 54, 54);
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}
.form-style {
  width: 100%;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}
@media (max-width: 576px) {
  .calculator h1 {
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 14px;
  }
  .calculator p {
    font-size: 0.875rem;
  }
  .calculator-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 30px;
    margin-left: 20px;
  }
  table {
    width: 350px;
    margin-bottom: 32px;
    padding-right: 20px;
  }
  .form-style {
    width: 100%;
    padding: 18px;
  }
  .input-5 {
    width: 100%;
  }

  .btn-div .btn-1 {
    width: 100%;
  }
}
/* Team Section */
.team {
  background: black;
}
.team h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.team p {
  font-size: 0.875rem;
  line-height: 24px;
  color: gray;
}
.main {
  display: flex;
  justify-content: center;
}

.team-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  width: fit-content;
  margin-top: 58px;
  margin-bottom: 88px;
  padding: 20px;
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
}
.team-img-div {
  position: relative;
}
.img_heading {
  position: absolute;
  left: 20px;
  bottom: 20px;
  text-align: left;
}
.trainer-img-style {
  width: 330px;
  height: 270px;
  border-radius: 20px;
  background: rgba(207, 52, 194, 0.247);
}

@media (max-width: 992px) {
  .team-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
    width: fit-content;
  }
}
@media (max-width: 576px) {
  .team h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 14px;
  }
  .team-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 20px;
    width: fit-content;
  }
}
